
@{
    ViewData["Title"] = "GetCityDestId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Booking API için Şehir Getirme </h1>
<br />
<form method="post">
<label>Şehir adını giriniz</label>
<input type="text" class="form-control" name="p"/>
<br />
<button class="btn btn-outline-primary">Şehir ID getir</button>
</form>
