
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları Sayfası</h1>
<a href="/Excel/StaticExcelReport/" class="btn btn-outline-info" style="display: inline-block; width: 200px; margin-left:30px;">Statik Excel Raporu</a>
<br />
<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-success" style="display: inline-block; width: 300px; margin-left:30px;">Tur Rotaları Excel Raporu</a>


